# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# npm
node_modules/

# Custom environment stufff
.env

# IntelliJ
out/

# IntelliJ: User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# IntelliJ: Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Compiled output
dist/